@model IEnumerable<EnrolledCoursesViewModel>

@{
    ViewData["Title"] = "DisplayEnrolledCourses";
}

<h1>DisplayEnrolledCourses</h1>

@if(TempData["Message"]!=null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Progress)
            </th>
            <th>Actions</th
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Progress)
            </td>
            <td>
                <a asp-action="DeleteEnrollment" asp-route-CourseId="@item.CourseId" class="btn btn-danger">Delete Enrollment</a>
            </td>
            @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
